   {{!--   --}}
    <section id="features" class="features" style="margin-left: 20px;">
      <div class="row feature-icons" data-aos="fade-right">
          <h3>USER MANUAL </h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="/img/features-3.png" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                 <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-brush-4-line"></i>
                  <div>
                    <h4>What id Faraidh calculator</h4>
                    <p>Faraidh calculator gives you the shares of each relative of the deceased in percentage and fraction along with its step to step reasons.</p>
                  </div>
                </div>
                
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-magic-line"></i>
                  <div>
                    <h4>How to use</h4>
                    <p>Enter the  number of the relatives of the deceased correctly and click submit button</p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-line-chart-line"></i>
                  <div>
                    <h4>Befere entering the form</h4>
                    <p>Make sure you have given the deceased's wasiyya and repaid his all debts</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4> Enter the data correctly</h4>
                    <p>Make sure the data that you have entered is correct as it is very important in Faraidh</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-command-line"></i>
                  <div>
                    <h4>Need explanation?</h4>
                    <p>Click the explanation bar to know how each one got their shares</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4>These are the only eligible relatives</h4>
                    <p>The relatives shown below are the only eligible relatives for inheritance, others only get the 
                      inheritance if none of these relatives (other than husband and wife) are alive</p>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
        
        </section> 


   <div id="values" class="values" style="padding-left: 5%;padding-right: 5%;">

      <div style="margin-left: -40px;" data-aos="fade-up">

        <header class="section-header" style="margin-left: 10%;">
          
          <p>ISLAMIC INHERITANCE CALCULATOR</p>
        </header>
<form action="/result" method="post" enctype="multipart/form-data">


        <div class="row">
          

          <div class="col-lg-4 mt-6 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
           {{#each relatives}}
            {{#if first}}
            
           
            <div class="quantity-container">
              {{!-- <div class="row">

              <div  id="faqlist1"  style="display: block;">
               <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{this.name}}">
                    <label class="name" for="product_name" >{{this.name}}</label>
                  </button>
                </h2>
                <div id="{{this.name}}" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    {{this.condition}}
                  </div>
                </div>
              </div>
            </div>
            </div>
             --}}
           
            
                <label class="name" for="product_name" >{{this.name}}</label>
            
                <button class="decrease" type="button" title="Decrease Quantity">-</button>
                
                {{#if one}}
                <input type="number" class="quantity-amount" onclick="steponup({{this.input}})" id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0" max="1" value="0">
                {{/if}}
            {{#if husbands}}
            <input type="number" class="quantity-amount"  id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0" max="1" value="0">
            {{/if}}
            {{#if four}}
              <input type="number" class="quantity-amount"   id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0" max="4" value="0">
              {{/if}}
            {{#if none}}
              <input type="number" class="quantity-amount" onclick="steponup({{this.input}})"  id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0"  value="0">
              {{/if}}
           <button class="increase" type="button" title="Increase Quantity">+</button>
          
                
                

          </div>
           {{/if}}
            {{/each}}
       

          </div> 

          <div class="col-lg-4 mt-6 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
       
            {{#each relatives}}
            {{#if second}}
                <div class="quantity-container">
             <label class="name" for="product_name" >{{this.name}}</label>
              <button class="decrease" type="button" title="Decrease Quantity">-</button>
             {{#if one}}
              <input type="number" class="quantity-amount"  id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0" max="1" value="0">
              {{/if}}
            
            {{#if none}}
              <input type="number" class="quantity-amount"  id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0"  value="0">
              {{/if}}
                  
                <button class="increase" type="button" title="Increase Quantity">+</button>
              </div>
            {{/if}}
            {{/each}}
         
          
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            
            {{#each relatives}}
            
            
    
              
            {{#if third}}
      <div class="quantity-container">
            <label class="name" for="product_name" >{{this.name}}</label>
             <button class="decrease" type="button" title="Decrease Quantity">-</button>
            
            <input type="number" class="quantity-amount" id="{{this.input}}"  name="{{this.input}}" placeholder="0" min="0"  value="0">
           
             
                <button class="increase" type="button" title="Increase Quantity">+</button>
                 </div>
            {{/if}}
            {{/each}}
            <label class="name"> Total Rupees</label>
            <input name="rupees" type="number" class="input5" placeholder="0000">
           
          

         
        </div>
        <button  id="btn" type="submit" style="background-color: rgb(21, 22, 88);color: white; font-weight: 800;" class="btn  mt-4">Submit</button>
        </form>

      </div>

   </div><!-- End Values Section -->


<script>


function steponup(name) {
  var named =toString(name)
  let input = document.getElementById(named)
  let val = 0;

  if (val) {  /* increment with a parameter */
    input.stepUp(val)
  } else {    /* or without a parameter. Try it with 0 */
    input.stepUp()
  }
}

function stepondown() {
  
  let input = document.getElementById("son")
  let val = 0;

  if (val) {  /* increment with a parameter */
    input.stepDown(val)
  } else {    /* or without a parameter. Try it with 0 */
    input.stepDown()
  }
}

document.getElementById("husband").disabled = false;
document.getElementById("wife").disabled = false;


var husband = document.getElementById("husband");
var wife = document.getElementById("wife");
husband.onchange = function () {
   if (this.value ==1 ) {
      document.getElementById("wife").disabled = true;
      
   }else{
     document.getElementById("wife").disabled = false;
   }
}
wife.onchange = function () {
   if (this.value >=1 ) {
      document.getElementById("husband").disabled = true;
   }else{
     document.getElementById("husband").disabled = false;
   }
}
 

var value,
    quantity = document.getElementsByClassName('quantity-container');

		function createBindings(quantityContainer) {
      var quantityAmount = quantityContainer.getElementsByClassName('quantity-amount')[0];
      var increase = quantityContainer.getElementsByClassName('increase')[0];
      var decrease = quantityContainer.getElementsByClassName('decrease')[0];
      increase.addEventListener('click', function (e) { increaseValue(e, quantityAmount); });
      decrease.addEventListener('click', function (e) { decreaseValue(e, quantityAmount); });
    }

    function init() {
        for (var i = 0; i < quantity.length; i++ ) {
					createBindings(quantity[i]);
        }
    };

    function increaseValue(event, quantityAmount) {
        value = parseInt(quantityAmount.value, 10);

        console.log(quantityAmount, quantityAmount.value);

        value = isNaN(value) ? 0 : value;
        value++;
        quantityAmount.value = value;
    }

    function decreaseValue(event, quantityAmount) {
        value = parseInt(quantityAmount.value, 10);

        value = isNaN(value) ? 0 : value;
        if (value > 0) value--;

        quantityAmount.value = value;
    }
    
    init();

</script>

  
  


    