   {{!--   --}}
    <section id="features" class="features">
      <div class="row feature-icons" data-aos="fade-right">
          <h3>USER MANUAL </h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="/img/features-3.png" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                 <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-brush-4-line"></i>
                  <div>
                    <h4>What id Faraidh calculator</h4>
                    <p>Faraidh calculator gives you the shares of each relative of the deceased in percentage and fraction along with its step to step reasons.</p>
                  </div>
                </div>
                
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-magic-line"></i>
                  <div>
                    <h4>How to use</h4>
                    <p>Enter the  number of the relatives of the deceased correctly and click submit button</p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-line-chart-line"></i>
                  <div>
                    <h4>Befere entering the form</h4>
                    <p>Make sure you have given the deceased's wasiyya and repaid his all debts</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4> Enter the data correctly</h4>
                    <p>Make sure the data that you have entered is correct as it is very important in Faraidh</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-command-line"></i>
                  <div>
                    <h4>Need explanation?</h4>
                    <p>Click the explanation bar to know how each one got their shares</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4>These are the only eligible relatives</h4>
                    <p>The relatives shown below are the only eligible relatives for inheritance, others only get the 
                      inheritance if none of these relatives (other than husband and wife) are alive</p>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
        
        </section> 


   <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          
          <p>ISLAMIC INHERITANCE CALCULATOR</p>
        </header>
<form action="/result" method="post" enctype="multipart/form-data">


        <div class="row">
          

          <div class="col-lg-4 mt-6 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
      
            {{#each relatives}}
            {{#if first}}
              
               
              <label class="name" for="product_name" >{{this.name}}</label>
              {{!-- <input type="button" value="+" onclick="steponup({{this.input}})" id="{{this.input}}" name="{{this.input}}">
              <input type="button" value="-" onclick="stepondown({{this.input}})" id="{{this.input}}" name="{{this.input}}"> --}}
              
            {{#if one}}
              <input type="number" class="input" onclick="steponup({{this.input}})" id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0"  value="0">
              {{/if}}
            {{#if husbands}}
            <input type="number" class="input"  id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0" max="1" value="0">
            {{/if}}
            {{#if four}}
              <input type="number" class="input"   id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0" max="4" value="0">
              {{/if}}
            {{#if none}}
              <input type="number" class="input" onclick="steponup({{this.input}})"  id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0"  value="0">
              {{/if}}
            {{/if}}
            {{/each}}
  

   
{{!-- <input type="button" value="+" id="plus">
<input type="button" value="-" id="minus"> --}}

            

              {{!-- <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <label class="name" for="product_name" >Father</label>
                  </button>
                </h2>
            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    only the real father, no stepdad 
                  </div>
                </div>
           
          --}}
          </div> 

          <div class="col-lg-4 mt-6 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
       
            {{#each relatives}}
            {{#if second}}
      
             <label class="name" for="product_name" >{{this.name}}</label>
              
             {{#if one}}
              <input type="number" class="input2"  id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0" max="1" value="0">
              {{/if}}
            
            {{#if none}}
              <input type="number" class="input2"  id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0"  value="0">
              {{/if}}
            {{/if}}
            {{/each}}
         
          
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            
            {{#each relatives}}
            {{#if maternalsister}}
            <label class="name" for="product_name" >{{this.name}}</label>

              <input type="number" class="input2"  id="{{this.input}}" name="{{this.input}}" placeholder="0" min="0"  value="0">
              {{/if}}
            {{#if third}}
      
            <label class="name" for="product_name" >{{this.name}}</label>
             
            <input type="number" class="input" id="{{this.input}}"  name="{{this.input}}" placeholder="0" min="0"  value="0">
            {{/if}}
            {{/each}}
            <label class="name"> Total Rupees</label>
            <input name="rupees" type="number" class="input5" placeholder="0000">
           
          

          <p id="demo"></p>
        </div>
        <button  id="btn" type="submit" style="background-color: rgb(21, 22, 88);color: white; font-weight: 800;" class="btn  mt-4">Submit</button>
        </form>

      </div>

    </section><!-- End Values Section -->
    
   

   
      {{!-- <input id="demoInput" type="number" min=0 max=110 value="0" placeholder="0"> --}}
      
        
       {{!-- let button = document.getElementById('plus')
button.addEventListener('click', function() {
  steponup()
}) --}}

<script>


function steponup(name) {
  var named =toString(name)
  let input = document.getElementById(named)
  let val = 0;

  if (val) {  /* increment with a parameter */
    input.stepUp(val)
  } else {    /* or without a parameter. Try it with 0 */
    input.stepUp()
  }
}

function stepondown() {
  
  let input = document.getElementById("son")
  let val = 0;

  if (val) {  /* increment with a parameter */
    input.stepDown(val)
  } else {    /* or without a parameter. Try it with 0 */
    input.stepDown()
  }
}

document.getElementById("husband").disabled = false;
document.getElementById("wife").disabled = false;

var dis1 = document.getElementById("husband");
var dis2 = document.getElementById("wife");
dis1.onchange = function () {
   if (this.value ==1 ) {
      document.getElementById("wife").disabled = true;
      
   }else{
     document.getElementById("wife").disabled = false;
   }
}
dis2.onchange = function () {
   if (this.value >=1 ) {
      document.getElementById("husband").disabled = true;
   }else{
     document.getElementById("husband").disabled = false;
   }
}
 
const productOptions = document.querySelectorAll(".product-options");

productOptions.forEach((node) => {
  const itemCount = node.querySelector(".item-quantity");
  const add = node.querySelector("button[action='add']");
  const remove = node.querySelector("button[action='remove']");

  add.addEventListener("click", () => {
    itemCount.value = parseInt(itemCount.value, 10) + 1;
  });

  remove.addEventListener("click", () => {
    itemCount.value = parseInt(itemCount.value, 10) - 1;
  });
});

</script>

      {{!-- let husband=document.getElementById("husband").value;
  let wife=document.getElementById("wife").value;
  
  if(husband==1){
    wife==0;
  }else(wife==1){
    husband==0;
  } --}}

  


    