  {{!--   --}}
  <section id="features" class="features"></section>
   <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          
          <p>Faraid Calculator Result</p>
        </header>
  <div class="all">
 <form action="/tryagain" method="post" enctype="multipart/form-data">
                    

    
    
        
           
             <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">NUMBER</th>
                    <th scope="col">SHARE</th>
                    <th scope="col">FRACTION</th>
                  </tr>
                </thead>
                <tbody>
                     {{#each items}}
                      {{#if isdefined}}
                  <tr>
                    <th scope="row">{{this.name}}</th>
                    <td>{{this.number}}</td>
                    <td>{{this.share}} %</td>
                    <td>{{this.fraction}}</td>
                  </tr>
                   {{/if}}
                  {{/each}}
                  
                </tbody>
              </table>
            
         
            
   


                <button id="btn3" type="submit" class="btn btn-success mt-4" style="float: right;">try again</button>
        
                
                
                </form>

                
                </div>
        

      </div>

    </section><!-- End F.A.Q Section -->
    
    
      <div class="container" data-aos="fade-up" >
    <div class="row">
          <div class="col-lg-12" style="border: black 2px">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item" >
                <h2 class="accordion-header">
                  <button  class=" accordion-button collapsed " style="background-color: #012970;text-align: center;align-items: center ;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                       
                        <h3 style="color: white; text-align: center;">
                            Explanation
                        </h3>
                          
                        
                   
                    
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    {{#each exp}}
                <h6 style="color: #012970; font-size: larger;">*{{this}}</h6>
                {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <section id="features" class="features"></section>
    <section id="features" class="features"></section>
